body{
    margin: 0;
    padding: 0;
    background: #DFF2FF;
}

.app {
    display: flex;
    flex-direction: row;
    gap: 44px;
    width: 96%;
    height: 93vh;
    background: linear-gradient(
        45deg,
        #DFF2FF,
        #FBFDFF
    );
    padding: 2%;
    padding-top: 1.5%;
}

.right-content { 
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-header { 
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #5d98f1;
    margin: 0px;
}

.section-subheader { 
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #535353;
    margin-top: 7px;
    letter-spacing: .03rem
}

